.footer{
    background-color: var(--gris-oscuro);
    padding:2rem 2rem;
}
.top-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
}
.column1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.logo-footer{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo-footer img{
    width: 3rem;
    height: auto;
}
.footer__h1{
    color: #F9F9F7;
    font-family: var(--fuente1);
    font-style: italic;
    font-size: 2rem;
    font-weight: 500;
}
.column1 p{
    text-align: center;
    font-family:var(--fuente2);
    color: #ADB29E;
}
.footer__ul{
    display: flex;
    gap: 0.5rem;
}
.footer__li img{
    width: 1.7rem;
    height: auto;
}

.column2{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 6rem;
}
.columna2, .columna3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.column2__ul{
    display:flex;
    flex-direction: column;
    gap: 0.3rem;
}
.column2__p{
    font-family: var(--fuente2);
    color: var(--gris-claro);
}
.column2__li a{
    font-family: var(--fuente2);
    color: #DBDFD0;
}

.column3{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.column3__p{
    font-family: var(--fuente2);
    color: #F9F9F7;
}
.column3__div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.column3__div img{
    border-radius: 0.75rem;
}
.bottom-footer{
    display: flex;
    justify-content: center;
}
.copyright{
    font-family: var(--fuente2);
    color: #ADB29E;
    text-align: center;
}