html{
    width: 100%;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gris-claro);
}
.top-bar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    background-color: var(--gris-oscuro);
    color:#fff;
    padding: 0.5rem 1rem;
}
.info{
    display: flex;
    gap: 1rem;
}
@media (max-width:360px){
    .info__div a{
        display:none;
    }
}
.ul__social{
    display:flex;
    gap: 0.5rem;
}
.social__img{
    width: 1.7rem;
    height: auto;
}
.info__div{
    display: flex; 
}
.menu-nav2{
    display: none;
}

.nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
}
.logo-bliss{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.main-title{
    color: var(--gris-oscuro);
    font-family: var(--fuente1);
    font-style: italic;
    font-size: 2rem;
    font-weight: 500;
}
.img__bliss{
    width:3rem;
    height: auto;
}
summary {
  list-style: none; 
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}
.menu-nav__ul{
    background-color:#fff;
    position: absolute; 
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
}
.menu-nav__li{
    display: flex;
    justify-content: center;
}
.menu-nav__li a{
    display: block;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.nav__button{
    padding: 0.2rem 0.5rem;
    border-radius: 7.375rem;
    border: 1.5px solid var(--borde);
    font-family: var(--fuente2);
    font-weight: 600;
}