@import url(modificaciones/reset.css);
@import url(modificaciones/colors\ &\ fonts.css);
@import url(elements/header.css);
@import url(elements/content1.css);
@import url(elements/content2.css);
@import url(elements/footer.css);
@import url(modificaciones/tablet.css);
@import url(modificaciones/escritorio.css);